{% extends "base.twig" %}

{% block content %}
	<div class="wrapper error_wrapper">
		<h1>404</h1>
		<h2>Helaas! deze pagina niet gevonden</h2>
		<a href="{{ site.link }}"><div class="button_fill">Homepagina</div></a>
	</div>
{% endblock %}